Navigation du clavier:
- gestion bluetooth
	- bluetooth 1 to 5
	- bluetooth clear
	- bootloader
	- Power OFF?

Navigation du bureau

Navigation du curseur

Navigation de la souris

Chiffres

Chiffres Extended

Math symbols

Programmation symbols

Other symbols

Parenthèses et cie

Macros
	-CTRL + C
	-CTRL + X
	-CTRL + V
	-CTRL + A
	-CTRL + F
	-CTRL + H
	-CTRL + S

Extended Macros

Accents

---------------------------------------------------------

Use dead key to allow an accent to be typed after the character
	- si ça ne marche pas, utiliser AHK

Use combination pour les layer
	- ex.: 	- auriculaire pour activer la layer des layers (gauche) avec des commandes de bases (droite) 
		- auriculaire + anulaire pour activer les symboles normales
		- auriculaire + anulaire + majeur pour activer les symboles avancés
		- etc...
	- Faire un fichier Excel



