#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEGREE RA(LS(SEMI))

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        mtl: mo_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MO_TAP_LAYER";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&sl>;
        };
    };

    macros {
        single_tilde: single_tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap &kp LS(GRAVE) &kp SPACE>;
        };

        uc_delta: uc_delta {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp U>
                     , <&macro_release &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp NUMBER_0 &kp NUMBER_3 &kp NUMBER_9 &kp NUMBER_4 &kp RET>;
        };

        uc_pi: uc_pi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp U>
                     , <&macro_release &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp NUMBER_0 &kp NUMBER_3 &kp C &kp NUMBER_0 &kp RET>;
        };

        uc_ohm: uc_ohm {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            tap-ms = <1>;
            wait-ms = <1>;
            bindings = <&macro_press &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp U>
                     , <&macro_release &kp LCTRL &kp LSHFT>
                     , <&macro_tap &kp NUMBER_0 &kp NUMBER_3 &kp A &kp NUMBER_9 &kp RET>;
        };
    };
    keymap {
        compatible = "zmk,keymap";

        layer_1 {
            bindings = <
                // Left hand (Index 1 to 10)
                &sl 6                      // 1
                &sl 2                      // 2
                &sl 1                      // 3
                &ht LS(D) D                // 4
                &ht LS(T) T                // 5
                &ht LS(R) R                // 6
                &ht LS(N) N                // 7
                &ht LS(G) G                // 8
                &ht LS(B) B                // 9
                &mo 3                      // 10

                // Right hand (Index 11 to 20)
                &ht LS(L) L                // 11
                &ht LS(E) E                // 12
                &ht LS(S) S                // 13
                &kp SPC                    // 14
                &ht LS(U) U                // 15
                &ht LS(C) C                // 16
                &ht LS(O) O                // 17
                &ht LS(M) M                // 18
                &ht LS(I) I                // 19
                &ht LS(A) A                // 20
            >;
        };

        layer_2 {
            bindings = <
                // Left hand (Index 1 to 10)
                &sl 6                      // 1
                &sl 2                      // 2
                &mo 1                      // 3
                &ht LS(Z) Z                // 4
                &ht LS(Q) Q                // 5
                &ht LS(X) X                // 6
                &ht LS(K) K                // 7
                &trans                     // 8
                &sl 4                      // 9
                &mo 3                      // 10

                // Right hand (Index 11 to 20)
                &ht LS(V) V                // 11
                &ht LS(NUMBER_4) LS(NUMBER_5)// 12
                &ht LS(GRAVE) LS(NUMBER_3) // 13
                &ht LS(P) P                // 14
                &ht LS(F) F                // 15
                &ht LS(H) H                // 16
                &ht LS(J) J                // 17
                &trans                     // 18
                &ht LS(Y) Y                // 19
                &ht LS(W) W                // 20
            >;
        };

        layer_3 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &mo 2                      // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_4 {
            bindings = <
                // Left hand (Index 1 to 10)
                &sl 6                      // 1
                &sl 2                      // 2
                &sl 4                      // 3
                &kp LALT                   // 4
                &kp RALT                   // 5
                &kp LSHIFT                 // 6
                &kp LGUI                   // 7
                &kp LCTRL                  // 8
                &trans                     // 9
                &mo 3                      // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &kp LEFT                   // 12
                &kp RIGHT                  // 13
                &kp UP                     // 14
                &kp DOWN                   // 15
                &kp PG_UP                  // 16
                &kp PG_DN                  // 17
                &trans                     // 18
                &kp HOME                   // 19
                &kp END                    // 20
            >;
        };

        layer_5 {
            bindings = <
                // Left hand (Index 1 to 10)
                &mo 6                      // 1
                &mo 2                      // 2
                &mo 4                      // 3
                &kp LALT                   // 4
                &kp RALT                   // 5
                &kp LSHIFT                 // 6
                &kp LGUI                   // 7
                &kp LCTRL                  // 8
                &trans                     // 9
                &sl 3                      // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &kp BSPC                   // 12
                &kp DEL                    // 13
                &kp RET                    // 14
                &kp TAB                    // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &kp ESC                    // 20
            >;
        };

        layer_6 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &mo 5                      // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &mo 3                      // 10

                // Right hand (Index 11 to 20)
                &kp LC(Z)                  // 11
                &kp LC(S)                  // 12
                &trans                     // 13
                &kp LC(V)                  // 14
                &kp LC(A)                  // 15
                &kp LC(C)                  // 16
                &kp LC(F)                  // 17
                &kp LC(X)                  // 18
                &kp LC(H)                  // 19
                &kp LC(Y)                  // 20
            >;
        };

        layer_7 {
            bindings = <
                // Left hand (Index 1 to 10)
                &mo 6                      // 1
                &sl 8                      // 2
                &trans                     // 3
                &kp LS(NUMBER_8)           // 4
                &kp FSLH                   // 5
                &kp LS(EQUAL)              // 6
                &kp MINUS                  // 7
                &kp LS(NUMBER_6)           // 8
                &kp EQUAL                  // 9
                &mo 7                      // 10

                // Right hand (Index 11 to 20)
                &kp NUMBER_0               // 11
                &kp NUMBER_1               // 12
                &kp NUMBER_2               // 13
                &kp NUMBER_3               // 14
                &kp NUMBER_4               // 15
                &kp NUMBER_5               // 16
                &kp NUMBER_6               // 17
                &kp NUMBER_7               // 18
                &kp NUMBER_8               // 19
                &kp NUMBER_9               // 20
            >;
        };

        layer_8 {
            bindings = <
                // Left hand (Index 1 to 10)
                &mo 6                      // 1
                &uc_delta                  // 2
                &uc_pi                     // 3
                &kp DEGREE                 // 4
                &kp BSLH                   // 5
                &uc_ohm                    // 6
                &kp LS(BSLH)               // 7
                &kp LS(NUMBER_3)           // 8
                &single_tilde              // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &ht LS(SQT) SQT            // 11
                &ht DOT COMMA              // 12
                &ht LS(SEMI) SEMI          // 13
                &ht LS(NUMBER_0) LS(NUMBER_9)// 14
                &kp LS(NUMBER_7)           // 15
                &ht LS(RBKT) LS(LBKT)      // 16
                &kp LS(NUMBER_5)           // 17
                &ht RBKT LBKT              // 18
                &kp LS(NUMBER_4)           // 19
                &ht LS(DOT) LS(COMMA)      // 20
            >;
        };

        layer_9 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &mo 8                      // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &kp LS(A)                  // 11
                &kp LS(B)                  // 12
                &kp LS(C)                  // 13
                &kp LS(D)                  // 14
                &kp LS(E)                  // 15
                &kp LS(F)                  // 16
                &kp DEGREE                 // 17
                &uc_delta                  // 18
                &uc_ohm                    // 19
                &uc_pi                     // 20
            >;
        };

        layer_10 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_11 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_12 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_13 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_14 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_15 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

        layer_16 {
            bindings = <
                // Left hand (Index 1 to 10)
                &trans                     // 1
                &trans                     // 2
                &trans                     // 3
                &trans                     // 4
                &trans                     // 5
                &trans                     // 6
                &trans                     // 7
                &trans                     // 8
                &trans                     // 9
                &trans                     // 10

                // Right hand (Index 11 to 20)
                &trans                     // 11
                &trans                     // 12
                &trans                     // 13
                &trans                     // 14
                &trans                     // 15
                &trans                     // 16
                &trans                     // 17
                &trans                     // 18
                &trans                     // 19
                &trans                     // 20
            >;
        };

    };
};
